mat-form-field{
    width : 100% !important;
    margin: auto;
}

.menu-position{
    position: absolute;
    bottom: 10%;
    right: 10%;
}

mat-button-toggle-group {
    width: 100%;
    margin: 8px auto; 
    mat-button-toggle {
        width: 33.33%;
    }
}