mat-card {
    max-width: 300px;
    margin: 4px;
    min-height: 100px;
    min-width: 300px;
}

h2{
    color: white;
}

.task-done {
    background-color: green;
}

.new-position{
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.back-position{
    position: absolute;
    top: 1%;
    left: 1%;
}

:host /deep/ .mat-tab-label {
    width: 33% !important;
}