/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: #3f51b5;
}

.card {
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: max-content;
    margin: auto;
    max-width: 25%;
    text-align: center;
}

.text-center{
    text-align: center;
}

h1,h2,h3{
    
    font-family: Arial, Helvetica, sans-serif;
}
.mat-tab-label-content{
    font-size: x-large;
    color: yellow;
    
}